<% if flash[:success] %>
  <p class="flash-text"><%= flash[:success] %></p>
<% end %>
<p class="table_title"><strong>Title:</strong> <%= @book.title %></p>
<p class="table_title"><strong>Body:</strong> <%= @book.body %></p>
<p><%= link_to "Edit", edit_book_path(@book.id) %> | <a href="/books">Back</a></p>